<mat-toolbar>
  <mat-toolbar-row style="text-align:center">
    <h1>{{ title }}</h1>
  </mat-toolbar-row> 
</mat-toolbar>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
 
  <div class="girl-card-container">

    <mat-card (click)="voteForGirl('a')" fxFlex="50%" class="girl-card">
      <mat-card-header> 
        <mat-card-title>Lucy Pinder</mat-card-title> 
      </mat-card-header>
      <div mat-card-image id="girl-card-img-a"></div>
      <mat-card-content></mat-card-content> 
    </mat-card> 

    <mat-card (click)="voteForGirl('b')" fxFlex="50%" class="girl-card">
      <mat-card-header>
          <mat-card-title>Kate Upton</mat-card-title>
      </mat-card-header>
      <div mat-card-image id="girl-card-img-b"></div>
      <mat-card-content></mat-card-content> 
    </mat-card> 

  </div>

</div>

<router-outlet></router-outlet>