<mat-toolbar>
  <mat-toolbar-row style="text-align:center">
    <h1>{{ title }}</h1>
  </mat-toolbar-row> 
</mat-toolbar>

<div class="container girl-card-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
 
  <mat-card fxFlex="40%" class="girl-card">
    <mat-card-header> 
      <mat-card-title>Lucy Pinder</mat-card-title> 
    </mat-card-header>
    <img mat-card-image src="./assets/img/fdsf7g8sdf.jpg" alt="Photo of Lucy Pinder">
    <mat-card-content></mat-card-content> 
  </mat-card> 

  <mat-card fxFlex="40%" class="girl-card">
    <mat-card-header>
        <mat-card-title>Kate Upton</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/img/k3ts7g.jpeg" alt="Photo of Kate Upton">
    <mat-card-content></mat-card-content> 
  </mat-card> 

</div>

<router-outlet></router-outlet>