.girl-card-container {
    background: #e0e0e0; 
    max-width: 800px;
    flex-basis: auto; 
    flex-grow: 1;

    .girl-card { 
        margin: 0;  
    
        .mat-card-image { 
            height: 500px;
            overflow-y: hidden; 
            background-size: 100% auto;
        }

        #girl-card-img-a {
            background-image: url('../assets/img/fdsf7g8sdf.jpg');
        }

        #girl-card-img-b {
            background-image: url('../assets/img/k3ts7g.jpeg');
        } 
       
    } 
}

